<div class="instruction">
  <h1>Instructions:</h1>
  <mat-card>
    <mat-card-content *ngIf="!isInstructionAPIOnGng" class="recipe-of-day">
      <img src="{{instructionImageUrl}}" />
      <div>
        <p> {{  currentInstruction }} </p>
        <button mat-raised-button color="primary" (click)="previous()">Previous</button>
        <button mat-raised-button color="primary" (click)="next()">Next</button>
      </div>
    </mat-card-content>
    <mat-spinner *ngIf="isInstructionAPIOnGng" [diameter]="50"></mat-spinner>
  </mat-card>
</div>
