body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
}
.cookify_title {
  font-size: 46px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
p {
  text-align: center;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
}


.recipe-of-day {
  margin-top: 50px;
  text-align: center;
}
