<body>
  <h1 class="cookify_title">Cookify</h1>
  <p>An AI recipes generator powered by ChatGPT and Dall-E</p>

  <div class="search-container">
    <input type="text" [(ngModel)]="dish" required />
    <button mat-raised-button color="primary" type="submit" (click)="submit()">
      Search
    </button>
    <mat-form-field>
      <input
        type="number"
        matInput
        placeholder="Serving size"
        [(ngModel)]="serving"
        min="1"
      />
    </mat-form-field>
  </div>

  <app-ingredients *ngIf="displayRecipe"></app-ingredients>
  <app-instruction *ngIf="displayRecipe"></app-instruction>
</body>
