<body>
  <h1 class="cookify_title">Cookify</h1>
  <p>
    An AI recipes generator powered by ChatGPT and Dall-E
  </p>

  <div class="search-container">
    <input type="text" [(ngModel)]="dish" required />
    <ng-template [ngIf]="!isApiHit">
      <button mat-raised-button color="primary" type="submit" (click)="submit()">Search</button>
      </ng-template>
      <ng-template [ngIf]="isApiHit">
      <mat-spinner [diameter]="35"></mat-spinner>
      </ng-template>
  </div>
  
  <div class="recipe-of-day">
    <h1>Recipes of the day:</h1>
    <mat-card>
      <mat-card-content class="recipe-of-day">
        <img src="./assets/chickenpam.webp" style="width: 300px; height: 200px;" (click)="submitManual('chicken parmesans')">
        <h2>Chicken Parmesan</h2>
      </mat-card-content>
      <mat-card-content class="recipe-of-day">
        <img src="./assets/spaghetti_meatballs.jpeg" style="width: 300px; height: 200px;" (click)="submitManual('spaghetti meatballs')">
        <h2>Spaghetti and meatballs</h2>
      </mat-card-content>
      <mat-card-content class="recipe-of-day">
        <img src="./assets/pizzaPepperoni.jpeg" style="width: 300px; height: 200px;" (click)="submitManual('pepperoni pizza')">
        <h2>Pepperoni Pizza</h2>
      </mat-card-content>
    </mat-card>
  </div>
</body>


