<div class="recipe-of-day">
  <h1>Recipes of the day:</h1>
  <mat-card>
    <mat-card-content class="recipe-of-day">
      <img src="./assets/chickenpam.webp" style="width: 300px; height: 200px;" (click)="submitManual('chicken parmesans')">
      <h2>Chicken Parmesan</h2>
    </mat-card-content>
    <mat-card-content class="recipe-of-day">
      <img src="./assets/spaghetti_meatballs.jpeg" style="width: 300px; height: 200px;" (click)="submitManual('spaghetti meatballs')">
      <h2>Spaghetti and meatballs</h2>
    </mat-card-content>
    <mat-card-content class="recipe-of-day">
      <img src="./assets/pizzaPepperoni.jpeg" style="width: 300px; height: 200px;" (click)="submitManual('pepperoni pizza')">
      <h2>Pepperoni Pizza</h2>
    </mat-card-content>
  </mat-card>
</div>
