<mat-card>
  <mat-card-title *ngIf="!isRegister">Login</mat-card-title>
  <mat-card-title *ngIf="isRegister">Register</mat-card-title>
<mat-card-content>
<form [formGroup]="form" (ngSubmit)="processLoginOrRegister()">
<p>
  <mat-form-field>
    <input type="text" matInput placeholder="Username" formControlName="username" (change)="checkForm()">
  </mat-form-field>
</p>

<p *ngIf="isRegister">
  <mat-form-field>
    <input type="text" matInput placeholder="email" formControlName="email" (change)="checkForm()">
  </mat-form-field>
</p>

<p>
  <mat-form-field>
    <input type="password"  matInput placeholder="Password" formControlName="password" (change)="checkForm()">
  </mat-form-field>
</p>

<p *ngIf="message" class="error">
  {{ message }}
</p>

<div class="button">
  <button *ngIf="!isRegister" mat-button (click)="changeToRegister()">Register</button>
  <button *ngIf="isRegister" mat-button (click)="changeToLogin()">Login</button>
  <button *ngIf="!isRegister" type="submit" mat-raised-button color="primary" mat-button [disabled]="checkForm()">Login</button>
  <button *ngIf="isRegister"  type="submit" mat-raised-button color="primary" mat-button [disabled]="checkForm()">Register</button>
</div>


</form>
</mat-card-content>
</mat-card>